@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&family=Pacifico&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

header{
    background-color: #FFFFFF;
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 15px 15px 10px 15px;
    font-family: 'Roboto', sans-serif;
    margin: 60px 500px 0;
    border: 1px solid #9C9CBB;
}

header h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Pacifico', cursive;
}

header input{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    width: 250px;
    border-radius: 1px;
    border-width: 1px;
    border-color: #9C9CBB;
    color: #9C9CBB;
}

header button{
    width: 250px;
    background-color: #4DB5F9;
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-weight: bolder;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

header h2{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9C9CBB;
    font-size: 15px;
}

header p a{
    color: #3A5897;
    font-weight: 100;
    text-decoration: none;
    font-size: 12px;
}

.facebook{
    display: flex;
    justify-content: center;
    color: #3A5897;
}

.facebook h4{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

.facebook img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    margin: 30px 500px;
    border: 1px solid #9C9CBB;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: 350px;
}

.second p{
    margin-right: 4px;
}

.second a{
    color: #4DB5F9;
    font-weight: 700;
    text-decoration: none;
}

footer{
    margin: 30px 500px;
    text-align: center;
}

footer img{
    margin-top: 30px;
    height: 40px;
    width: 130px;
}